---
import LandingPage from "../components/LandingPage.astro";
import { getLandingMessages } from "../i18n/messages/index";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>Obsern</title>
  </head>
  <body>
    <LandingPage locale="en" messages={getLandingMessages("en")} />
  </body>
</html>
