OBSERN_AWS_REGION="ap-northeast-1"
OBSERN_AWS_ACCESS_KEY="dummy"
OBSERN_AWS_SECRET_KEY="dummy"
OBSERN_DDB_ENDPOINT="http://localhost:4566"
OBSERN_DDB_TABLE_NAME="obsern-dev"
OBSERN_LOG_LEVEL="DEBUG"
OBSERN_OIDC_JWKS_URL="https://cognito-idp.ap-northeast-1.amazonaws.com/<user_pool_id>/.well-known/jwks.json"
OBSERN_OIDC_AUDIENCE="<client_id>"
OBSERN_OIDC_ISSUER="https://cognito-idp.ap-northeast-1.amazonaws.com/<user_pool_id>"