OBSERN_AWS_REGION="ap-northeast-1"
OBSERN_AWS_ACCESS_KEY="dummy"
OBSERN_AWS_SECRET_KEY="dummy"
OBSERN_DDB_ENDPOINT="http://localhost:4566"
OBSERN_DDB_TABLE_NAME="obsern-dev"
OBSERN_LOG_LEVEL="DEBUG"
OBSERN_OIDC_JWKS_URL="http://localhost:8080/realms/obsern-local/protocol/openid-connect/certs"
OBSERN_OIDC_AUDIENCE="obsern-web-local"
OBSERN_OIDC_ISSUER="http://localhost:8080/realms/obsern-local"
