name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  cli:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./cli/go.mod
          cache: true
      
      - name: Go fmt
        run: |
          go fmt ./...
          git diff --exit-code
      
      - name: Go vet
        run: go vet ./...
      
      - name: Go test
        run: go test ./...

      - name: Go build
        run: go build .