name: ci

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  cli:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./cli/go.mod
          cache: true

      - name: Set up Task
        uses: go-task/setup-task@v1

      - name: Task CI
        run: task cli:ci

  api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv
        run: python -m pip install --upgrade pip uv

      - name: Install dependencies
        run: uv sync --frozen --group dev

      - name: Set up Task
        uses: go-task/setup-task@v1

      - name: Task CI
        run: task api:ci
