name: security

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  cli:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./cli/go.mod
          cache: true

      - name: Govulncheck
        run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...

  api:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: api

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv
        run: python -m pip install --upgrade pip uv

      - name: Export pylock.toml
        run: uv export --format pylock.toml --output-file pylock.toml

      - name: Pip Audit
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          inputs: api
          locked: true

  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Gitleaks
        uses: gitleaks/gitleaks-action@v1.6.0

  osv:
    permissions:
      actions: read
      contents: read
      security-events: write
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@v2.3.1
