name: security

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  cli:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./cli/go.mod
          cache: true

      - name: Govulncheck
        run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
    
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Gitleaks
        uses: gitleaks/gitleaks-action@v1.6.0